canvas {
  top:0;
  left:0;
  z-index: 0;
  position:fixed;
}

main {
  left: 1em;
  top: 1em;
  position: absolute;
  width:90%;
  height: 100%;
}

body{
  grid-template: 1fr;
}

.grid {
  height: 100%;
  display: grid;
  grid-template: auto 5fr 1fr/ 50px 1fr 8fr;
  
}

.card {
  background-color: aliceblue;
  border: 2px solid black ;
  border-radius: 5px;
  opacity: .7;
  margin:15px;

}

.icon {
  grid-column:1 / 1;
  grid-row:1;
  z-index: 1;
  height: 50px;
  width:50px;
  align-self: center;
}

.header {
  grid-column: 1/-1;
  grid-row: 1;
}

.sidebar {
  grid-column: 1 / 3;
  grid-row-start: 2; 

  background-color: grey;
  opacity: .9;

  box-shadow: 15px red;
}

.content {
  grid-column-start: 3;
  grid-row-start:2;
}

.footer {
  grid-column: 1/ -1;
  grid-row-start: 3;
  background-color: green;
}

.btn {
  background-color: black;
  width:100%;
  height:100%;
  opacity: 1;
}







